.about {
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2rem;
}

.anchor-spacing {
  margin-right: 5px;
}


img {
  max-width: 100%;
  margin-right: 2px;
}


.about-content {
  display: flex;
  align-items: center;
}


.image-container {
  flex: 0 0 auto;
  max-width: auto;
}


.text-container {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 20px;
  color: white;
  flex: 1;
}


.text-container p {
  white-space: pre-wrap;
}


.spacer {
  height: 20rem;
}


@media (max-width: 1068px) {
  .about-content {
    flex-direction: column; 
    text-align: center; 
  }
}
