/* Container for the image and text */
.about {
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2rem;
}

.anchor-spacing {
  margin-right: 5px; /* Adjust the margin as needed */
}


/* Styles for the image */
img {
  max-width: 100%;
  margin-right: 2px;
}

/* Container for the content */
.about-content {
  display: flex;
  align-items: center;
}

/* Container for the image */
.image-container {
  flex: 0 0 auto;
  max-width: auto;
}

/* Container for the text */
.text-container {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 20px;
  color: white;
  flex: 1;
}

/* Style for the text within the container */
.text-container p {
  white-space: pre-wrap;
}


/* Spacer for vertical space */
.spacer {
  height: 20rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
  
}

/* Typing animation keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}