.home {
  min-height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/Home.jpg');
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

.home .content {
  position: relative; 
  top: -100px;
}

.home h1 {
  font-size: 6rem; 
}

.home .spacer {
  height: 20rem;
}


@media (max-width: 1068px) {
  .home .content {
    top: -200px;
  }
}

@media (max-width: 768px) {
  .home .content {
    top: -125px;
  }
  .home h1 {
    font-size: 3rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
